{% extends 'layout/app-layout.html'%}
{% block content %}

<div class="listfull">

            <div class="row bg-white"
                    style="min-height: 104px; border-radius: 0px 0px 12px 12px;">

                <div class="col">
                    <div class="search-wrapper">
                        <form method="get" >
                            <div class="search-box">
                                <span class="search-icon">
                                    <i class="bi bi-search"></i>
                                </span>
                                <input 
                                    type="text"
                                    name="username"
                                    class="search-input"
                                    placeholder="Search (username, admin, user, active, disabled)"
                                    value="{{ username }}"
                                >
                            </div>
                        </form>
                    </div>
                </div>
            </div>



<!-- -------------------------------------------------------------------------------------------------------------------- -->

            <div class="row  bg-white" style="margin-top: 20px ; border-radius: 12px;">
                <div class="col">
                
            
            <h1 style="color: #1E052F; font-size: 25px; margin-top: 50px; display: inline-block;">Users</h1>
  
            <table class="table" style="margin-top: 20px;">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.is_superuser %}

                            <strong style="color: #7F01F4;">Admin</strong>

                        {% else %}
                            User
                        {% endif %}
                    </td>

                    <td>
                        {% if user.is_active %}

                            Active

                        {% else %}

                            Disabled
                            
                        {% endif %}
                    </td>
                    <td>
                        {% if user.is_active %}
                            <a class="btn btn-secondary" href="{% url 'disable_user' user.id %}">
                                Disable
                            </a>

                        {% else %}

                            <a class="btn btn-success" href="{% url 'enable_user' user.id %}">
                                Enable
                            </a>

                        {% endif %}
                        
                        <a class="btn btn-danger" href="{% url 'delete_user' user.id %}"
                        onclick="return confirm('Are you sure?')">
                        Delete
                        </a>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>

                </div>
            </div>
    
    </div>


{% endblock %}