{% load static %}

{% load static %}

<div id="sidenav"
     style="background: linear-gradient(#7F01F4, #1E052F); min-height: 100%;">

    <div class="p-3">

        <!-- LOGO -->
        <img src="{% static 'TixTrack_Logo_white.svg' %}"
             alt="logo"
             class="img-fluid mb-4">

        <!-- NAVIGATION -->
        <ul class="nav flex-column mt-5" >

            <li class="nav-item mb-3">
                <i class="bi bi-house-fill text-white mr-2"></i>
                <a class="nav-link text-white d-inline"
                   href="{% url 'concertlist' %}">
                    Concerts
                </a>
            </li>

            <li class="nav-item mb-3">
                <i class="bi bi-plus-circle text-white mr-2"></i>
                <a class="nav-link text-white d-inline"
                    href="{% url 'add_concerts' %}" >
                    Add Concerts
                </a>
            </li>

            <li class="nav-item mb-3">
                <i class="bi bi-ticket-detailed-fill text-white mr-2"></i>
                <a class="nav-link text-white d-inline"
                   href="{% url 'bookings_list' %}">
                    Bookings
                </a>
            </li>

            <li class="nav-item mb-3">
                <i class="bi bi-person-fill text-white mr-2"></i>
                <a class="nav-link text-white d-inline" href="{% url 'users_list' %}">
                    Users
                </a>
            </li>

            <li class="nav-item mb-5">
                <i class="bi bi-box-arrow-up-right text-white mr-2"></i>
                <a class="nav-link text-white d-inline"
                   href="http://localhost:3000/concerts">
                    User Side
                </a>
            </li>
        </ul>

        <!-- <span class="logout-item">
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-block">
                        <i class="bi bi-box-arrow-right"></i> Logout
                    </button>
                </form>
            </span> -->

    </div>
</div>
