{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    
        <div id="sidenav" style="background: linear-gradient(#7F01F4, #1E052F); min-height: 100vh;">
          <div style="margin-left: 20px;">
            
            <img src="{% static 'TixTrack_Logo_white.svg' %}" alt="logo" style="margin-top: 20px;">
            
            <ul class="nav flex-column" style="margin-top: 50px; gap: 20px; margin-left: 10px;">

                <li class="nav-item">
                    <i class="bi bi-house-fill text-white"></i>
                    <a class="nav-link text-white" href="{% url 'concertlist' %}" style="margin-top: -31px; margin-left: 20px;">Concerts</a>
                </li>

                <li class="nav-item">
                    <i class="bi bi-plus-circle text-white"></i>
                    <a class="nav-link text-white" href="{% url 'add_concerts' %}" style="margin-top: -31px; margin-left: 20px;">Add Concerts</a>
                </li>

                <li class="nav-item">
                    <i class="bi bi-ticket-detailed-fill text-white"></i>
                    <a class="nav-link text-white" href="#" style="margin-top: -31px; margin-left: 20px;">Bookings</a>
                </li>

                <li class="nav-item">
                    <i class="bi bi-person-fill text-white"></i>
                    <a class="nav-link text-white" style="margin-top: -31px; margin-left: 20px;">Users</a>
                </li>

            </ul>
            </div>
        </div>